@use '../abstracts/breakpoints' as *;


.title-9xl {
    font-size: 3.5rem;

    @include media-min-md {
        font-size: 5rem;
    }

    @include media-min-lg {
        font-size: 7rem;
    }

    @include media-min-3-xl {
        font-size: 9rem;
    }
}

.title-8xl {
    font-size: 3rem;

    @include media-min-md {
        font-size: 4.5rem;
    }

    @include media-min-lg {
        font-size: 6rem;
    }

    @include media-min-3-xl {
        font-size: 8rem;
    }
}

.title-7xl {
    font-size: 2.8rem;

    @include media-min-md {
        font-size: 4rem;
    }

    @include media-min-lg {
        font-size: 5.2rem;
    }

    @include media-min-3-xl {
        font-size: 6.5rem;
    }
}

.title-6xl {
    font-size: 2.5rem;

    @include media-min-md {
        font-size: 3.5rem;
    }

    @include media-min-lg {
        font-size: 4.5rem;
    }

    @include media-min-3-xl {
        font-size: 5.5rem;
    }
}

.title-5xl {
    font-size: 3rem;

    @include media-min-lg {
        font-size: 3.8rem;
    }

    @include media-min-3-xl {
        font-size: 4.5rem;
    }
}

.title-4xl {
    font-size: 2rem;

    @include media-min-md {
        font-size: 2.6rem;
    }

    @include media-min-lg {
        font-size: 3.2rem;
    }

    @include media-min-3-xl {
        font-size: 3.8rem;
    }
}

.title-3xl {
    font-size: 1.8rem;

    @include media-min-md {
        font-size: 2.2rem;
    }

    @include media-min-lg {
        font-size: 2.6rem;
    }

    @include media-min-3-xl {
        font-size: 3rem;
    }
}

.title-2xl {
    font-size: 20px;

    @include media-min-md {
        font-size: 25px;
    }

    @include media-min-lg {
        font-size: 30px;
    }

    @include media-min-3-xl {
        font-size: 32px;
    }
}

.title-xl {
    font-size: 1.2rem;

    @include media-min-md {
        font-size: 1.5rem;
    }

    @include media-min-lg {
        font-size: 1.8rem;
    }

    @include media-min-3-xl {
        font-size: 2rem;
    }
}



// ── BODY / NORMAL TEXT ───────────────────────────────────────

.normal-lg {
    font-size: 1rem;

    @include media-min-md {
        font-size: 1.1rem;
    }

    @include media-min-lg {
        font-size: 1.2rem;
    }

    @include media-min-3-xl {
        font-size: 1.4rem;
    }
}

.normal-md {
    font-size: 16px;

    @include media-min-md {
        font-size: 18px;
    }

    @include media-min-lg {
        font-size: 20px;
    }
}

.normal-small {
    font-size: 0.8rem;

    @include media-min-md {
        font-size: 0.9rem;
    }

    @include media-min-lg {
        font-size: 1rem;
    }

    @include media-min-3-xl {
        font-size: 1.2rem;
    }
}

.normal-s {
    font-size: 0.83rem;

    @include media-min-md {
        font-size: 0.93rem;
    }

    @include media-min-lg {
        font-size: 1.03rem;
    }

    @include media-min-3-xl {
        font-size: 1.03rem;
    }
}

.normal-x {
    font-size: 0.7rem;

    @include media-min-md {
        font-size: 0.8rem;
    }

    @include media-min-lg {
        font-size: 0.9rem;
    }

    @include media-min-3-xl {
        font-size: 1rem;
    }
}

.normal-xsmall {
    font-size: 0.68rem;

    @include media-min-md {
        font-size: 0.7rem;
    }

    @include media-min-lg {
        font-size: 0.8rem;
    }

    @include media-min-3-xl {
        font-size: 0.9rem;
    }
}

.normal-xxsmall {
    font-size: 0.6rem;

    @include media-min-lg {
        font-size: 0.7rem;
    }

    @include media-min-3-xl {
        font-size: 0.8rem;
    }
}

.normal-xxxsmall {
    font-size: 0.45rem;

    @include media-min-md {
        font-size: 0.5rem;
    }

    @include media-min-lg {
        font-size: 0.6rem;
    }

    @include media-min-3-xl {
        font-size: 0.7rem;
    }
}

@layer base {

    input,
    select,
    textarea {
        padding: 0.5rem;

        @include media-min-md {
            padding: 1rem;
        }

        @include media-min-lg {
            padding: 1.1rem 1.5rem;
        }
    }

    input,
    select,
    textarea {
        background-color: color-mix(in oklab, var(--white) 5%, transparent);
        border: 2px solid var(--border-color);
        border-radius: 0.5rem;
        font-size: 0.95rem;
        outline: none;
        color: var(--white);
        transition: border-color 0.3s ease;
    }

    select,
    option {
        background-color: var(--bg-dark-blue);
        color: var(--white);
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .upload-area , .upload-icon{
        background-color: color-mix(in oklab, var(--white) 5%, transparent);
    }
    .upload-icon{
        border: 2px solid var(--border-color);
    }

}