@use '../abstracts/breakpoints' as *;

.title-5xl {
    font-size: 3rem;

    @include media-min-lg {
        font-size: 3.8rem;
    }

    @include media-min-3-xl {
        font-size: 4.5rem;
    }
}


.title-3xl {
    font-size: 1.8rem;

    @include media-min-md {
        font-size: 2.2rem;
    }

    @include media-min-lg {
        font-size: 2.6rem;
    }

    @include media-min-3-xl {
        font-size: 3rem;
    }
}


.title-xl {
    font-size: 1.2rem;

    @include media-min-md {
        font-size: 1.5rem;
    }

    @include media-min-lg {
        font-size: 1.8rem;
    }

    @include media-min-3-xl {
        font-size: 2rem;
    }
}



// ── BODY / NORMAL TEXT ───────────────────────────────────────

.normal-lg {
    font-size: 1rem;

    @include media-min-md {
        font-size: 1.1rem;
    }

    @include media-min-lg {
        font-size: 1.2rem;
    }

    @include media-min-3-xl {
        font-size: 1.4rem;
    }
}

.normal-md {
    font-size: 14px;

    @include media-min-md {
        font-size: 16px;
    }

    @include media-min-lg {
        font-size: 18px;
    }
}

.normal-small {
    font-size: 0.8rem;

    @include media-min-md {
        font-size: 0.9rem;
    }

    @include media-min-lg {
        font-size: 1rem;
    }
}
.normal-smallx {
    font-size: 0.7rem;

    @include media-min-md {
        font-size: 0.8rem;
    }

    @include media-min-lg {
        font-size: 0.85rem;
    }
}

.normal-xsmall {
    font-size: 0.6rem;

    @include media-min-md {
        font-size: 0.65rem;
    }

    @include media-min-3-xl {
        font-size: 0.7rem;
    }
}